body {
    background: linear-gradient(40deg, #ffffff, #da6464, #7c4390, #5b6bf4);
    background-size: 400% 400%;
    animation: gradient 10s cubic-bezier(0.09, 0.46, 0.73, 0.51) infinite;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.search_header{
    width: fit-content;
    margin: auto;
}
.header{
    margin: none;
    padding-top: 10px;
    text-align: center;
}
.head_link{
    transition: 0.3s;
    color: black;
    text-decoration: none;
}
.head_link:hover{
    color: #282828;
}
.search_bar{
    color: #d5d5d5c7;
    background-color: #14131b47;
    width: 700px;
    height: 75px;
    border-radius: 40px;
    border: none;
    text-align: -webkit-left;
    font-size: 30px;
    text-indent: 40px;
    transition-duration: 0.5s;
}
.search_bar:hover{
    background-color: #14131b58;
}
.search_bar:focus-visible{
    box-shadow: 7px 7px #14131b58;
    outline: none;
    border: none;
    border-radius: 90px;
    animation-duration: 2s;
    animation: forwards;
    background: linear-gradient(60deg, #14131b47, #14131b4a);
    transition-duration: 0.5s;
}
.search_bar::placeholder{
    color: #cdcdcd6b;
}
.search_button {
    margin: 0 10px;
    padding: 10px;
    background-color: rgba(126, 232, 253, 0.4);
    color: #333148;
    transition: 0.75s;
    border: none;
    border-radius: 3px;
}
.search_button:hover {
    background-color: rgba(126, 232, 253, 0.467);
    color: rgba(50, 49, 69, 0.701);
    border: none;
    border-radius: 3px;
}
.choice {
    margin: 0 0 0 10px;
    background-color: #8870e4c7;
    border: none;
    border-radius: 7px;
    height: 45px;
    padding: 5px;
    transition: 0.3s;
}
.choice:hover{
    background-color: #9c89e8ce;
    color: #000000c7;;
}
.results {
    background-color: #caa6a682;
    box-shadow: 7px 7px #725f5f82;
    border: none;
    border-radius: 6px;
    height: fit-content;
    margin: 30px auto;
    width: 900px;
    padding: 10px 100px;
    color: #282828;
}
.card{
    background-color: #ffffff6e;
    height: 100px;
    transition: 0.35s;
}
.card:hover{
    background-color: #ffffff57;
}
.card-body {
    flex: 1 1 auto;
    padding: 7px var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
.card-title{
    margin:auto
}
.album_name{
    color: #433d8acc;
    text-decoration: none;
    transition: 0.25s;
}
.album_name:hover{
    color: #433d8a;
}
.artist_name{
    color: #d53232d1;
    text-decoration: none;
    transition: 0.25s;
}
.artist_name:hover{
    color: #d53232;
}
.price{
    margin: auto auto;
    padding: 0px 5px;
    color: #605595db;
}